@import 'vars'
  
html, body
  margin: 0
  background-color: $pfa-dark-blue

.dead-center
  position: relative
  left: 50%
  top: 50%
  transform: translateY(-50%) translateX(-50%)

::selection
  background-color: #D34E23
  color: #1d253c